/*@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

html{
    background-image: url(https://github.com/lydia-atieno/Yummy/blob/master/Cakes/X.jpg?raw=true);
    background-size: cover;
    background-position: top center;
    position: relative;
    opacity: .9;
    z-index: 1;
    /*background-color: rgb(18, 139, 139);*/
    /*background-color: #9d4541;*/
    /*background-color: #1e8183;*/
    /*background-color: #400F19;*/
    /*background-color: #173C4C;*/
    
    /*background-color: #239b8f;*/
    /*background-color: #850E35;*/
    /*background-color: #D90368;*/
    /*background-color: #b4646a;*/
    /*background-color: rgb(40, 187, 200);*/
    /*background-color: #29c6cd;*/
    /*background-color: #055049;*/
    /*background-color: #096386;*/
    /*background-color: #de6b35;*/
    /*background-color: #9C0F48;*/
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Padauk', sans-serif;*/
    display: flex;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175,1) 0.5s;
}
html::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: ;
    opacity: .8;
    z-index: -1;
}
@keyframes reveal{
    0%{
        transform: translate(0,100%);
    }
    100%{
        transform: translate(0,0);
    }
}

/*about section*/
#about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
}
#about .about-itemz{
    margin-left: 30px;
   
}
#about .about-itemz::after{
    z-index: 1;
}

#about h1{
    font-size: 1.6rem;
    margin-top: 30px;
    /*background-color: rgb(56, 205, 205);*/
    background-color: ;
    border-radius: 10%;
    background-color: rgb(108, 3, 108);
    color: white;
    font-weight: 500;
}
#about p{
    max-width: 280px;
    font-size: 0.9rem;
    text-align: justify;
    color: white;
    font-weight: 500;
    background-color: black;
}
#about::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: ;
    width: ;
    background-color: ;
    opacity: .3;
    z-index: -1;
    background-size: cover;
}
/*End about section*/

/*Desktop view*/
@media only screen and (min-width: 1200px){
    #about .about-items{
        display: flex;
        margin-top: 10px;
        margin-left: 370px;
    }
    #about .about-item{
        margin-right: 10px;
        
    }
    #about p{
        font-size: large;
        max-width: 400px;
    }
    #about img{
        width: 50%;
        height: 80%;
    }
}
/*End desktop view*/

/*Order section*/
#order .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#order .order{
    height: 20vh;
}
#order h1{
     font-size: 1.6rem;
    margin-top: 80px;
    background-color: rgb(108, 3, 108);
    border-radius: 10%;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}
#order .order-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#order .order-item button{
     background-color: plum;
    margin-top: 55px;
    margin-right: 30px;
    border-radius: 40%;
    border: double;
    padding: 5px;
    color: black;
}
#order .order-item{
    display: flex;
    margin-top: ;
}
#order .order-item .img2{
    margin-right: 18px;
}
#order .order-item .img2::after{
    z-index: 1;
}
#order .order-item .img3{
    margin-left: 10px;
}
#order .order-item .img3::after{
    z-index: 1;
}
#order .order-item .img4{
    margin-left: 18px;
}
#order .order-item .img4::after{
    z-index: 1;
}
#order .order-item .img5{
    margin-left: 28px;
}
#order .order-item .img5::after{
    z-index: 1;
}
#order .order-item .img6{
    margin-left: 60px;
}
#order .order-item .img6::after{
    z-index: 1;
}
/*End order section*/

/*Desktop view*/
@media only screen and (min-width: 1200px){
    #order .order-items{
        display: flex;
        flex-direction: row;
        max-width: px;
        margin-left: px;
    }
    #order .order-item button{
        margin-left: 40px;
        margin-top: 14px;

    }
    #order .order-item{
        display: flex;
        flex-direction: column;
    }
    #order .order-item .img3{
        margin-left: 0px;
        padding-right: px;
    }
    #order .order-item .img4{
        margin-left: 1px;
        padding-right: px;
    }
    #order .order-item .img5{
        margin-left: 1px;
        padding-right: px;
    }
    #order .order-item .img6{
        margin-left: 10px;
        padding-right: px;
    }

}

/*price section*/
#price .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#price h1{
    font-size: 1.7rem;
    background-color: rgb(108, 3, 108);
    border-radius: 10%;
    margin-bottom: 18px;
    color: white;
    font-weight: 500;
}
#price .price{
    height: 65vh;
}
#price .price-items{
     max-width: 230px;
    margin-left: 0px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    background-color: black;
}
#price p{
    font-size: 0.9rem;
    color: antiquewhite;
    background-color: black;
    color: white;
    margin-left: 0px;
}
/*end price section*/

@media only screen and (min-width: 1200px){
    #price h1{
        font-size: 2.3rem;
        margin-top: 20px;
    }
    #price .price-items{
        display: flex;
        max-width: none;
    }
    #price .price-item{
        margin-right: 12px;
    }
}

/*footer section*/
/*#footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer .footer{
    border-radius: 50%;
    width: px;
    border-left: 50px;
    border-width: 20px;
    
    border: black;
    background-color: darkturquoise;
}
#footer h2{
    font-size: 1.2rem;
}*/
/*Desktop view*/
/*@media only screen and (min-width: 1200px){
    #footer .footer-items{
        display: flex;
    }
}*/
/*end footer section*/

/*finish section*/
#finish .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#finish h1{
   background-color: white;
    font-size: 1rem;
    margin-top: 30px;
    border-radius: 20%;
    text-align: justify;
    color: rgb(108, 3, 108);
}
#finish h2{
    background-color: rgb(108, 3, 108);
    color: antiquewhite;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    
}
#finish p{
     font-size: 0.9rem;
    background-color: black;
    color: white;
    font-weight: 500;
    margin-top: 18px;
}
/*end finish section*/

/*footer section*/
#footer .container{
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    width: 105%;
    left: px;
    top: px;
    min-height: 100vh;
}
#footer{
    margin: 30px;
}
#footer .footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 2, 60);
    min-height: 26vh;
    width: 73%;
    margin-left: 30px;
    margin-top: px;
    padding-left: px;
    border-radius: 10%;
    border-style: double;
    border-color: aliceblue;
    
}
#footer h3{
    /*color: rgb(239, 241, 247);*/
    color: white;
    font-weight: 500;
    letter-spacing: rem;
    margin-bottom: 1px;
    margin-top: 0px;
    font-size: 0.8rem;
}
#footer h3 span{
    color: plum;
}
#footer h4{
    /*color: rgb(239, 241, 247);*/
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
}
#footer p{
    /*color: rgb(239, 241, 247);*/
    font-weight: 500;
    font-size: 0.7rem;
    color: white;
    margin-top: 1px;
}
#footer .social-icon{
    display: flex;
    flex-direction: row;
    justify-content: ;
    margin-top: 1px
}
#footer .social-item{
    margin-left: 8px;
}
/*end footer section*/
