.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html{
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175,1) 0.5s;
    scroll-behavior: smooth;
    background-color: rgb(2, 233, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes reveal{
    0%{
        transform: translate(0,100%);
    }
    100%{
        transform: translate(0,0);
    }
}
#wedding h1{
    font-size: 1.2rem;
    margin-top: 30px;
    text-decoration: underline;
}
#wedding .wedding-item{
    display: flex;
}